<div>
    <h2 id="page-heading">
        <span>Playlist Title</span>
    </h2>
    <br></br>
    <span>
        <button type="button" class="btn btn-success btn-med">Spotify</button>
        <button type="button" class="btn btn-info btn-med">Apple Music</button>
    </span>
    <br></br>
    <div class="table-responsive">
        <table class="table table-hover" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>Song</span></th>
                    <th scope="col" ><span>Artist</span></th>
                    <th scope="col" ><span>Album</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Hello</td>
                    <td>Adele</td>
                    <td>Hello</td>
                    <td class="text-right">
                        <button type="button" class="btn btn-success btn-sm">Spotify</button>
                        <button type="button" class="btn btn-info btn-sm">Apple Music</button>
                    </td>
                </tr>
                <tr>
                    <td>Hello</td>
                    <td>Adele</td>
                    <td>Hello</td>
                    <td class="text-right">
                        <button type="button" class="btn btn-success btn-sm">Spotify</button>
                        <button type="button" class="btn btn-info btn-sm disabled">Apple Music</button>
                    </td>
                </tr>
                <tr>
                    <td>Hello</td>
                    <td>Adele</td>
                    <td>Hello</td>
                    <td class="text-right">
                        <button type="button" class="btn btn-success btn-sm">Spotify</button>
                        <button type="button" class="btn btn-info btn-sm disabled">Apple Music</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
