<div>
    <h2 id="page-heading">
        <span>Playlists</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-playlist" [routerLink]="['/playlist/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Playlist
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="playlists?.length === 0">
        <span>No playlists found</span>
    </div>
    <div class="table-responsive" *ngIf="playlists?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Name</span></th>
            <th><span>Author</span></th>
            <th><span>Song</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let playlist of playlists ;trackBy: trackId">
                <td><a [routerLink]="['/playlist', playlist.id, 'view' ]">{{playlist.id}}</a></td>
                <td>{{playlist.name}}</td>
                <td>{{playlist.author}}</td>
                <td>
                    <div *ngIf="playlist.song">
                        <a [routerLink]="['../song', playlist.song?.id, 'view' ]" >{{playlist.song?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/playlist', playlist.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/playlist', playlist.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'playlist', { outlets: { popup: playlist.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
