@import '~bootstrap/scss/functions';
@import '~bootswatch/dist/materia/variables';
@import '~bootstrap/scss/variables';

.btn-primary {
    font-weight: 800;
}

.td, .th {
    text-align: center;
}

.table {
    table-layout: fixed;
}
