<div>
    <h2 id="page-heading">
        <input class="form-control" aria-describedby="playlistTitle" placeholder="Enter Playlist Title">
    </h2>
    <br></br>
    <h3>
        <span>Search for a Song</span>
        <input class="form-control" aria-describedby="searchBar" placeholder="Enter Song, Artist or Album Name">
    </h3>
    <div class="table-responsive">
        <table class="table table-hover" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>Song</span></th>
                    <th scope="col" ><span>Artist</span></th>
                    <th scope="col" ><span>Album</span></th>
                    <th scope="col" ><span></span></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Hello</td>
                    <td>Adele</td>
                    <td>Hello</td>
                    <td><button type="button" class="btn btn-primary btn-sm">Add</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
