<div class="alert alert-primary" role="alert">
<h1>About Us</h1>
</div>
<h3>
    Syncify is a new software that is built on several different technologies to give users the ease of creating and sharing playlists. We allow the opportunity to search, upload, and share music that can be found on your various music platforms! By performing a playlist using multiple platforms it can ease the confusion and hassle of switching between different platforms to play a song. Instead why not just have one platform to create a playlist that can be accessible to everyone. </h3>

<h2> Authentication </h2>
<h3> Syncify employs one of the most popular authentication services around: OAuth 2.0.  Using OAuth, the identity provider generates a cryptographically signed token which it hands off to the application to authenticate the user. As long as the application trust the identity provider then it should be okay. </h3>
<h2> Front End</h2>
<h3> We have built objects using Angular ClI to help us develop CRUD operations and also develop services which provide a MVC like model.</h3>
<h2> Full stack</h2>
<h3> To easily develop and integrate multiple technologies we have chosen to use Jhipster as service which supports the full stack. It has allows us to be versatile
    in the ways we develop our software with less worries of front end or back end compatability issues.</h3>
<h2> Testing </h2>
<h3> At Syncify we use Jasmine and Sonar to analyze and make sure are code is clean and works. The service, Jasmine, allows us to run unit tests to make sure our code
is still functional, and Sonar gives us informative comments about where we can make changes </h3>
<h2>Continous Intergration </h2>
<h2> Here at Syncify we use continous integration via Jhipster but that doesn't mean you can't too! We are continuing to make changes to our service and would love for you to check ti out as well!</h2>
