<div>
    <h2 id="page-heading">
        <span>Songs</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-song" [routerLink]="['/song/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Song
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="songs?.length === 0">
        <span>No songs found</span>
    </div>
    <div class="table-responsive" *ngIf="songs?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Artist</span></th>
            <th><span>Name</span></th>
            <th><span>Spotify Id</span></th>
            <th><span>Apple Id</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let song of songs ;trackBy: trackId">
                <td><a [routerLink]="['/song', song.id, 'view' ]">{{song.id}}</a></td>
                <td>{{song.artist}}</td>
                <td>{{song.name}}</td>
                <td>{{song.spotifyId}}</td>
                <td>{{song.appleId}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/song', song.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/song', song.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'song', { outlets: { popup: song.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
