<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>

    <div class="col-md-9">
        <h1 class="display-4">Welcome to Syncify</h1>

        <p class="lead">Come get in sync and share your music!</p>

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span id="home-logged-message" *ngIf="account">Hi {{ account.firstName }}, you are logged in using "{{ account.login }}".</span>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <span>If you want to </span>
                <a class="alert-link" (click)="login()">sign in</a><span>, you can try the default accounts <br/>- User (login="Rhett" and password="Boston").</span>
            </div>
        </div>

        <p>
            Syncify is a web application that helps friends and families share their music using either Spotify or Apple Music. Find songs or create playlists that the user can share with a just a link!
            <br>This Boston University software engineering project was created by:
        </p>
        <p><i>Front End</i></p>
        <ul>
            <li><a href="https://github.com/nikzadkhani" target="_blank" rel="noopener noreferrer">Nikad Khani</a></li>
            <li>Raymond Chu</li>
        </ul>
        <p><i>Back End</i></p>
        <ul>
            <li><a href="https://github.com/mwhite317" target="_blank" rel="noopener noreferrer">Mark White</a></li>
            <li><a href="https://github.com/parkerwstone" target="_blank" rel="noopener noreferrer">Paker Stone</a></li>
        </ul>

        <p>
            <span>If you are interested in how Syncify works or think it can improve, check us out on </span> <a href="https://github.com/nikzadkhani/Syncify" target="_blank" rel="noopener noreferrer">GitHub</a>!
        </p>
    </div>
</div>
